*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#wrapper{
    height: 100vh;
    overflow-x: hidden;
    perspective: 10px;
    margin: 0 auto;
}
.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* new****** */
    transform-style: preserve-3d;
    position: relative;
    z-index: -1;
}
.backgroundimage, .foregroundimage{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    object-fit: cover;
}
.backgroundimage{
    transform: translateZ(-40px) scale(5.3);
    /* transform: translateZ(-40px) scale(5); */
}
.foregroundimage{
    transform: translateZ(-20px) scale(3);
}
h1{
    position: absolute;
    top:5rem;

    font-size:10rem;
    letter-spacing:4px;
    color:white;
    text-shadow:0 0 10px rgba(0,0,0,0.3);
}
section{
    background-color: rgb(45,45,45);
    color:white;
    padding:5rem 0;
}
.secHeading{
    font-size:5rem;
    padding:0 10rem;
}
.text{
    font-size:1.5rem;
    padding: 0 10rem;
    margin: 5rem 0;
}
.bg1{
    background-image: url(sport-1.jpg);
}
.bg2{
    background-image: url(sport-2.jpg);
}
.bg3{
    background-image: url(sport-3.jpg);
}
.bg{
    position: relative;
    background-attachment: fixed;
    height: 400px;
    background-size: cover;
    background-position: center;
}
.desc{
    position: absolute;
    background-color: white;   
    padding: 0.5rem 2.5rem;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateX(-50%);
    color:black;
    font-size:3.5rem;
    font-weight:600;
}
